<div *ngIf="recipe">
  <img src="{{recipe.image}}" alt="{{recipe.title}}">
  <div class="name">
    <label><h4>Name:</h4>
      <input class="form-control" [(ngModel)]="recipe.title" placeholder="title">
    </label>
  </div>
  <h4>Ingredients</h4>
  <ul>
    <li *ngFor='let ingredient of recipe.ingredients'>
      {{ingredient}}
    </li>
  </ul>

  <form class="ingredientForm">
    <input type="text" name="addIngredient" placeholder="Add ingredient here .." [(ngModel)]="ingredientText">
    <br>
    <br>
    <input type="submit" class="btn btn-info" [value]="btnText" (click)="addNewIngredient()">
  </form>



  <h4 class="marg-top">Instructions</h4>
  <ol>
    <li *ngFor='let instruction of recipe.directions'>
    {{instruction}}
    </li>
  </ol>
  <form class="directionForm">
    <input type="text" name="addDirection" placeholder="Add direction here .." [(ngModel)]="directionText">
    <br>
    <br>
    <input type="submit" class="btn btn-info" [value]="btnText" (click)="addNewDirection()">
  </form>
</div>
