<div class="container">
  <h1>Recipe Box</h1>
  <ul>
    <li *ngFor='let currentRecipe of recipes'>
          <h3>{{currentRecipe.title}}</h3>
          <h5>Ingredients</h5>
          <ul>
            <li *ngFor='let eachIngredient of currentRecipe.ingredients'>
              {{eachIngredient}}
            </li>
          </ul>
          <h4>Instructions</h4>
          <ol>
            <li *ngFor='let eachDirection of currentRecipe.directions'>
            {{eachDirection}}
            </li>
          </ol>
    </li>
  </ul>

</div>
